body {
    padding-top: 8rem;
}

div#headings {
    color: #3259B5;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

div#headings h2 {
    margin: 0 0 .3rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

div#headings h3 {
    font-size: 1.5rem;
    margin: 0;
}

section#immunology-table {
    max-width: 1200px;
    margin: auto;
}

div#immunology-table-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 3px;
}

section > div {
    font-family: 'Arial', sans-serif;
}

div#immunology-table-container > div:nth-child(1) { grid-row: 3; }
div#immunology-table-container > div:nth-child(2) { grid-row: 4; }
div#immunology-table-container > div:nth-child(3) { grid-row: 5; }
div#immunology-table-container > div:nth-child(4) { grid-row: 6; }
div#immunology-table-container > div:nth-child(5) { grid-row: 7; }
div#immunology-table-container > div:nth-child(6) { grid-row: 8; }
div#immunology-table-container > div:nth-child(7) { grid-row: 9; }
div#immunology-table-container > div:nth-child(8) { grid-column: 2; grid-row: 3; }
div#immunology-table-container > div:nth-child(9) { grid-row: 4; }
div#immunology-table-container > div:nth-child(10) { grid-row: 5; }
div#immunology-table-container > div:nth-child(11) { grid-row: 6; }
div#immunology-table-container > div:nth-child(12) { grid-row: 7; }
div#immunology-table-container > div:nth-child(13) { grid-row: 8; }
div#immunology-table-container > div:nth-child(14) { grid-row: 9; }
div#immunology-table-container > div:nth-child(15) { grid-column: 3; grid-row: 3; }
div#immunology-table-container > div:nth-child(16) { grid-row: 4; }
div#immunology-table-container > div:nth-child(17) { grid-row: 5; }
div#immunology-table-container > div:nth-child(18) { grid-row: 6; }
div#immunology-table-container > div:nth-child(19) { grid-row: 7; }
div#immunology-table-container > div:nth-child(20) { grid-row: 8; }
div#immunology-table-container > div:nth-child(21) { grid-row: 9; }
div#immunology-table-container > div:nth-child(22) { grid-column: 4; grid-row: 3; }
div#immunology-table-container > div:nth-child(24) { grid-row: 5; }
div#immunology-table-container > div:nth-child(23) { grid-row: 4; }
div#immunology-table-container > div:nth-child(25) { grid-row: 6; }
div#immunology-table-container > div:nth-child(26) { grid-row: 7; }
div#immunology-table-container > div:nth-child(27) { grid-row: 8; }
div#immunology-table-container > div:nth-child(28) { grid-row: 9; }
div#immunology-table-container > div:nth-child(29) { grid-column: 5; grid-row: 4; }
div#immunology-table-container > div:nth-child(30) { grid-row: 5; }
div#immunology-table-container > div:nth-child(31) { grid-row: 6; }
div#immunology-table-container > div:nth-child(32) { grid-row: 7; }
div#immunology-table-container > div:nth-child(33) { grid-row: 8; }
div#immunology-table-container > div:nth-child(34) { grid-row: 9; }
div#immunology-table-container > div:nth-child(35) { grid-column: 6; grid-row: 3; }
div#immunology-table-container > div:nth-child(36) { grid-row: 4; }
div#immunology-table-container > div:nth-child(37) { grid-row: 5; }
div#immunology-table-container > div:nth-child(38) { grid-row: 6; }
div#immunology-table-container > div:nth-child(39) { grid-row: 7; }
div#immunology-table-container > div:nth-child(40) { grid-row: 8; }
div#immunology-table-container > div:nth-child(41) { grid-row: 9; }
div#immunology-table-container > div:nth-child(42) { grid-column: 7; grid-row: 2;  }
div#immunology-table-container > div:nth-child(43) { grid-column: 7; grid-row: 3;  }
div#immunology-table-container > div:nth-child(44) { grid-column: 7; grid-row: 4;  }
div#immunology-table-container > div:nth-child(45) { grid-column: 7; grid-row: 5;  }
div#immunology-table-container > div:nth-child(46) { grid-column: 7; grid-row: 6;  }
div#immunology-table-container > div:nth-child(47) { grid-column: 7; grid-row: 7;  }
div#immunology-table-container > div:nth-child(48) { grid-column: 7; grid-row: 8;  }
div#immunology-table-container > div:nth-child(49) { grid-column: 7; grid-row: 9;  }
div#immunology-table-container > div:nth-child(50) { grid-column: 8; grid-row: 1; }
div#immunology-table-container > div:nth-child(51) { grid-column: 8; grid-row: 2; }
div#immunology-table-container > div:nth-child(52) { grid-column: 8; grid-row: 3; }
div#immunology-table-container > div:nth-child(53) { grid-column: 8; grid-row: 4; }
div#immunology-table-container > div:nth-child(54) { grid-column: 8; grid-row: 5; }
div#immunology-table-container > div:nth-child(55) { grid-column: 8; grid-row: 6; }
div#immunology-table-container > div:nth-child(56) { grid-column: 8; grid-row: 7; }
div#immunology-table-container > div:nth-child(57) { grid-column: 8; grid-row: 8; }
div#immunology-table-container > div:nth-child(58) { grid-column: 8; grid-row: 9; }
div#immunology-table-container > div:nth-child(59) { grid-column: 9; grid-row: 2; }
div#immunology-table-container > div:nth-child(60) { grid-column: 9; grid-row: 3; }
div#immunology-table-container > div:nth-child(61) { grid-column: 9; grid-row: 4; }
div#immunology-table-container > div:nth-child(62) { grid-column: 9; grid-row: 5; }
div#immunology-table-container > div:nth-child(63) { grid-column: 9; grid-row: 6; }
div#immunology-table-container > div:nth-child(64) { grid-column: 9; grid-row: 7; }
div#immunology-table-container > div:nth-child(65) { grid-column: 9; grid-row: 8; }
div#immunology-table-container > div:nth-child(66) { grid-column: 9; grid-row: 9; }
div#immunology-table-container > div:nth-child(67) { grid-column: 10; grid-row: 3; }
div#immunology-table-container > div:nth-child(68) { grid-column: 10; grid-row: 4; }
div#immunology-table-container > div:nth-child(69) { grid-column: 10; grid-row: 5; }
div#immunology-table-container > div:nth-child(70) { grid-column: 10; grid-row: 6; }
div#immunology-table-container > div:nth-child(71) { grid-column: 10; grid-row: 7; }
div#immunology-table-container > div:nth-child(72) { grid-column: 10; grid-row: 8; }
div#immunology-table-container > div:nth-child(73) { grid-column: 10; grid-row: 9; }
div#immunology-table-container > div:nth-child(74) { grid-column: 11; grid-row: 3; }
div#immunology-table-container > div:nth-child(75) { grid-column: 11; grid-row: 4; }
div#immunology-table-container > div:nth-child(76) { grid-column: 11; grid-row: 5; }
div#immunology-table-container > div:nth-child(77) { grid-column: 11; grid-row: 6; }
div#immunology-table-container > div:nth-child(78) { grid-column: 11; grid-row: 7; }
div#immunology-table-container > div:nth-child(79) { grid-column: 11; grid-row: 8; }
div#immunology-table-container > div:nth-child(80) { grid-column: 11; grid-row: 9; }
div#immunology-table-container > div:nth-child(81) { grid-column: 12; grid-row: 3; }
div#immunology-table-container > div:nth-child(82) { grid-column: 12; grid-row: 4; }
div#immunology-table-container > div:nth-child(83) { grid-column: 12; grid-row: 5; }
div#immunology-table-container > div:nth-child(84) { grid-column: 12; grid-row: 6; }
div#immunology-table-container > div:nth-child(85) { grid-column: 12; grid-row: 7; }
div#immunology-table-container > div:nth-child(86) { grid-column: 12; grid-row: 8; }
div#immunology-table-container > div:nth-child(87) { grid-column: 1/span 5; grid-row: 1/span 2; }

section > div > div {
    border:2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: -3px;
    padding: 1.25rem 0;
}

@media only screen and (max-width: 900px) {
    div#immunology-table-container > div:nth-child(87) { grid-column: 1; grid-row: 1; display:none; }
    section > div > div {
        font-size: 0.6rem;
        padding: 0.6rem 0;
    }
}


section#hardcoded > div > div {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    width: calc(100% / 12);
}

section#hardcoded > div > div > div {
    border:2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: -3px;
    padding: 1.25rem 0;
}

section#hardcoded > div > div {
    margin-right: -7px;
}

.cytokine {
    filter: brightness(100%);
}

.cytokine:hover {
    filter: brightness(115%);
    transition: 250ms;
    transform: scale(1.05);
}

.primary1, .primary-common-chainil-13tslp {
    background-color: #FFC45A;
    color:#2B4441;
}

.primary-common-chainil-13tslp:hover {
    box-shadow: #CC9C48 1px 1px 0px inset, #FFD763 -1px -1px 0 inset;
}

.primary2, .primary-other-gray {
    background-color: #A4A6A6;
    color: #1B353D;
}

.primary-other-gray:hover {
    box-shadow: #838484 1px 1px 0px inset, #B4B6B6 -1px -1px 0 inset;
}

.primary3, .primary-complement {
    background-color: #ab5c39;
    color: #1B353D;
}

.primary3:hover, .primary-complement:hover {
    box-shadow: #88492D 1px 1px 0px inset, #BC653E -1px -1px 0 inset;
}

.primary4, .primary-other-green {
    background-color: #91A160;
    color: #1B353D;
}

.primary-other-green:hover {
    box-shadow: #74804C 1px 1px 0px inset, #9FB169 -1px -1px 0 inset;
}

.primary5, .primary-interferon {
    background-color: #51a78d;
    color: #1B353D;
}

.primary-interferon:hover {
    box-shadow: #408570 1px 1px 0px inset, #59B79B -1px -1px 0 inset;
}

.primary6, .primary-il-10 {
    background-color: #d176ad;
    color: #1B353D;
}

.primary-il-10:hover {
    box-shadow: #A75E8A 1px 1px 0px inset, #E581BE -1px -1px 0 inset;
}

.primary7, .primary-common-chain {
    background-color: #8169bb;
    color: #1B353D;
}

.primary-common-chain:hover {
    box-shadow: #675495 1px 1px 0px inset, #8D73CD -1px -1px 0 inset;
}

.primary8, .primary-il-1 {
    background-color: #86316c;
    color: #f4aedd;
}

.primary-il-1:hover {
    box-shadow: #6b2756 1px 1px 0px inset, #933576 -1px -1px 0 inset;
}

.primary9, .primary-il-6il-12 {
    background-color: #3F838F;
    color: #11363E;
}

.primary-il-6il-12:hover {
    box-shadow: #326872 1px 1px 0px inset, #45909D -1px -1px 0 inset;
}

.primary10, .primary-other-brown {
    background-color: #95857D;
    color: #11363E;
}

.primary-other-brown:hover {
    box-shadow: #776a64 1px 1px 0px inset, #A39289 -1px -1px 0 inset;
}

.primary11, .primary-tnf {
    background-color: #6EB6C2;
    color:#134C60;
}

.primary-tnf:hover {
    box-shadow: #58919B 1px 1px 0px inset, #79C8D5 -1px -1px 0 inset;
}

.primary12, .primary-growth-factor {
    background-color: #453189;
    color: #BFBEF3;
}

.primary-growth-factor:hover {
    box-shadow: #37276D 1px 1px 0px inset, #4B3596 -1px -1px 0 inset;
}

.primary13, .primary-il-17 {
    background-color: #0A6954;
    color: #1B353D;
}

.primary-il-17:hover {
    background-color: #0A6954;
    box-shadow: #085443 1px 1px 0px inset, #0B735C -1px -1px 0 inset;
}

.empty {
    background-color: transparent;
}

span.position {
    font-size: 0.8rem;
    font-style: italic;
}

/*
div#immunology-table-container {
    min-width:62rem;
}
*/

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    section#immunology-table {
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    section > div > div > div {
        padding: 0.5rem 0; /* Even smaller padding for very small screens */
        font-size: 0.7rem; /* Even smaller font size for very small screens */
        word-break: break-word; /* Allow long words to wrap */
    }
}

.tooltip {
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    padding: .7rem;
    line-height: 1.2rem;
    text-align: left;
    display: none;
    z-index: 100;
    width: auto !important;
}