body {
    padding-top: 8rem;
}

div#headlines {
    color: #3259B5;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

div#headlines h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

div#headlines h3 {
    font-size: 1.5rem;
}

section > div > div {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    width: calc(100% / 12);
}

section > div > div > div {
    border:2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: -3px;
    padding: 1.25rem 0;
}

section#hardcoded > div > div {
    margin-right: -7px;
}

.cytokine:hover {
    filter: brightness(115%);
}

.primary1, .primary-common-chainil-13tslp {
    background-color: #FFC45A;
    color:#2B4441;
}

.primary-common-chainil-13tslp:hover {
    box-shadow: #CC9C48 1px 1px 0px inset, #FFD763 -1px -1px 0 inset;
}

.primary2, .primary-other-gray {
    background-color: #A4A6A6;
    color: #1B353D;
}

.primary-other-gray:hover {
    box-shadow: #838484 1px 1px 0px inset, #B4B6B6 -1px -1px 0 inset;
}

.primary3, .primary-complement {
    background-color: #ab5c39;
    color: #1B353D;
}

.primary3:hover, .primary-complement:hover {
    box-shadow: #88492D 1px 1px 0px inset, #BC653E -1px -1px 0 inset;
}

.primary4, .primary-other-green {
    background-color: #91A160;
    color: #1B353D;
}

.primary-other-green:hover {
    box-shadow: #74804C 1px 1px 0px inset, #9FB169 -1px -1px 0 inset;
}

.primary5, .primary-interferon {
    background-color: #51a78d;
    color: #1B353D;
}

.primary-interferon:hover {
    box-shadow: #408570 1px 1px 0px inset, #59B79B -1px -1px 0 inset;
}

.primary6, .primary-il-10 {
    background-color: #d176ad;
    color: #1B353D;
}

.primary-il-10:hover {
    box-shadow: #A75E8A 1px 1px 0px inset, #E581BE -1px -1px 0 inset;
}

.primary7, .primary-common-chain {
    background-color: #8169bb;
    color: #1B353D;
}

.primary-common-chain:hover {
    box-shadow: #675495 1px 1px 0px inset, #8D73CD -1px -1px 0 inset;
}

.primary8, .primary-il-1 {
    background-color: #86316c;
    color: #f4aedd;
}

.primary-il-1:hover {
    box-shadow: #6b2756 1px 1px 0px inset, #933576 -1px -1px 0 inset;
}

.primary9, .primary-il-6il-12 {
    background-color: #3F838F;
    color: #11363E;
}

.primary-il-6il-12:hover {
    box-shadow: #326872 1px 1px 0px inset, #45909D -1px -1px 0 inset;
}

.primary10, .primary-other-brown {
    background-color: #95857D;
    color: #11363E;
}

.primary-other-brown:hover {
    box-shadow: #776a64 1px 1px 0px inset, #A39289 -1px -1px 0 inset;
}

.primary11, .primary-tnf {
    background-color: #6EB6C2;
    color:#134C60;
}

.primary-tnf:hover {
    box-shadow: #58919B 1px 1px 0px inset, #79C8D5 -1px -1px 0 inset;
}

.primary12, .primary-growth-factor {
    background-color: #453189;
    color: #BFBEF3;
}

.primary-growth-factor:hover {
    box-shadow: #37276D 1px 1px 0px inset, #4B3596 -1px -1px 0 inset;
}

.primary13, .primary-il-17 {
    background-color: #0A6954;
    color: #1B353D;
}

.primary-il-17:hover {
    background-color: #0A6954;
    box-shadow: #085443 1px 1px 0px inset, #0B735C -1px -1px 0 inset;
}

.empty {
    background-color: transparent;
}

span.position {
    font-size: 0.8rem;
    font-style: italic;
}

div#immunology-table-container {
    min-width:62rem;
}

.tooltip {
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    padding: 5px;
    display: none;
    z-index: 100;
    width: auto !important;
}